i How long have you been involved with BGC?
p: b &#8203;

i What was it that inspired you to become involved with the BGC?
p: b &#8203;

i What is one piece of advice you would give to someone considering to join BGC?
p: b &#8203;
