i How long have you been involved with BGC?
p: b &#8203;

i What was it that inspired you to mentor with the BGC?
p: b &#8203;

i What is the one piece of advice you would give to potential mentors?
p: b &#8203;
