i How old were you when you first became involved with BGC?
p: b &#8203;

i What do you and your mentor typically do?
p: b &#8203;

i What is the most surprising thing that you have learned from your mentor?
  p: b &#8203;

i What is the one piece of advice you would give to other kids?
p: b &#8203;
