i What was it that made you decide BGC would be beneficial for your child?
p: b &#8203;

i Have you noticed a change in your child through their time with BGC?
p: b &#8203;

i What is the one piece of advice you would give to parents who are looking at enrolling their kids?
p: b &#8203;
